{% extends 'base.html' %}
{% block content %}
  <a href={% url 'leads:lead-list' %} class="btn btn-success" role="button">Back</a>
  <a href={% url 'leads:lead-update' lead.pk %} class="btn btn-success" role="button">Edit</a>
  <a href={% url 'leads:lead-delete' lead.pk %} class="btn btn-danger" role="button">Delete</a>
  <hr />
  <h1>Lead Detail</h1>
  <table class="table table-hover table-bordered">
    <tbody>
      <tr>
        <th scope="row">First Name:</th>
        <td>{{ lead.first_name }}</td>
      </tr>
      <tr>
        <th scope="row">Last Name:</th>
        <td>{{ lead.last_name }}</td>
      </tr>
      <tr>
        <th scope="row">Lead ID:</th>
        <td colspan="2">{{ lead.id }}</td>
      </tr>
      <tr>
        <th scope="row">Age:</th>
        <td colspan="2">{{ lead.age }}</td>
      </tr>
    </tbody>
  </table>


{% endblock content %}
