{% extends 'base.html' %} 
{% block content %} 
    <a href={% url 'leads:lead-create' %} class="btn btn-warning" role="button">Create a New Lead</a>
    <hr />
        <h1>This is all of our Leads</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">Lead Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
               {% for lead in leads %}
                    <tr onclick="window.location='{% url 'leads:lead-detail' lead.pk %}';">
                        <th scope="row">{{ lead.id }}</th>
                        <td>{{ lead.first_name }}</td>
                        <td>{{ lead.last_name }}</td>
                        <td>{{ lead.age }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                <a href={% url 'leads:lead-delete' lead.pk %} class="btn btn-sm btn-danger"> Delete </a>  
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for lead in leads %}
            <a href={% url 'leads:lead-detail' lead.pk %} class="list-group-item list-group-item-action">Name: {{lead.first_name}} {{ lead.last_name }}, Age: {{lead.age}}</a>
        {% endfor %} 
{% endblock content %}
